.header {
  justify-content: space-between;
  display: flex;
  background-color: rgb(50, 167, 145);
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
}

.trybewarts-login {
  display: flex;
}

#trybewarts-header-title {
  text-align: center;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 675px;
}

#main {
  display: flex;
  align-items: flex-end;
  margin-top: 200px;
}

#corpo {
  display: flex;
  justify-content: flex-end;
}

#trybewarts-forms-logo {
  height: 500px;
}

#emailAndHouse {
  margin-bottom: 20px;
}
